html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  font-family: 'Montserrat', sans-serif;
}
.title {
  color: #ffffff;
  font-weight: bold;
  font-size: 8.5em;
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

