html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.title {
  color: #ffffff;
  font-weight: bold;
  font-size: 8.5em;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  padding-top: 10%;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
@keyframes test {
  44% {font-size: 8.4em}
  77% {font-size: 7.5em}
  100% {font-size: 7.8em}
}
.play {
  color: #e2cad7;
  font-size: 6em;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  padding-top: 10%;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  animation-name: test;
  animation-duration: 3s;
}


