body {
  background-color: #e084b5ff;
  font-family: 'Montserrat', sans-serif;
}
.title {
  color: #ffffff;
  font-weight: bold;
  font-size: 8.5em;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  border-top: 0px;
}

